<main role="main" class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Weather Forecasting</h1>
    <p class="lead">Weather forecasting is the application of science and technology to predict the conditions of the atmosphere for a given location and time.</p>
  </div>

  <div>
    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()" class="search_form"> 
    <input type="text" formControlName="searchedCity" class="form-control" placeholder="Search City to Forecast" id="SearchBtn">
   
      <button class="btn btn-primary submit_btn" type="submit" >
        <i class="fa-solid fa-magnifying-glass-location search_icon"></i>
      </button>
    
    </form>
  </div>
  

  </main>
  <div class="container-fluid">
  <div class="row weather_report" *ngIf="selectedCityVal && validateLatlng">
    <div class="col-md-4">
      <h4 class="heading_forecast">Forcasting for next 5 Days</h4>
      <div class="container">
          <div id='accordion' *ngFor="let weather of weatherDetails.list;" >
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link accordion_heading" data-toggle="collapse" attr.data-target="{{'#'+weather.id}}" aria-expanded="true" aria-controls="collapseOne">
                      {{weather.dt_txt}}
                      <span>{{weather.dayName}}</span>
                  </button>
                </h5>
                <img class="weather_icon" [src]="weather.icon" alt="">
              </div>
          
              <div attr.id="{{weather.id}}" class="collapse show" aria-labelledby="headingOne" data-parent=#accordion>
                <div class="card-body">
                  <label>Weather Forcast : </label> <span>  {{weather.weather[0].description}}</span><br/>
                  <label>Wind Speed : </label> <span>  {{weather.wind.speed}}</span><br/>
                  <label>Temperature  : </label> <span> Min ( <span>  {{weather.main.temp_min}}C )</span>  Max ( <span>  {{weather.main.temp_max}}C )</span> </span><br/>
                  <label>Humidity : </label> <span>  {{weather.main.humidity}}</span><br/>


                 
                </div>
              </div>
            </div>
             
             
          </div>
       
      </div>
    </div>
    <div class="col">
  <app-google-maps  ></app-google-maps>

    </div>
  </div>
</div>